.App {
  text-align: center;
  min-width: 480px;
  height: 550px;
  flex-grow: 1;
  background-color: #fafafa;
  font-family: Poppins, sans-serif;
  overflow-y: scroll;
}

.app-logo {
  height: 20px;
  margin: 0 16px;
}

.identicon {
  width: 25px;
  height: 25px;
}

.issue-token-title {
  margin: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space {
  margin-top: 20px;
}

.token-logo {
  margin-top: 0px;
  height: 35px;
}

.align-right {
  float: right;
}

.token-logo-lg {
  margin-top: 20px;
  height: 100px;
}

.sign-in-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.private-key-field {
  width: 80%;
}

#download-keystore-button {
  width: 80%;
  margin-top: 20px;
}

#keystore-file {
  display: none;
}

#import-keystore {
  width: 80%;
}

.import-keystore-button {
  width: 100%;
}

.reset-button {
  margin-top: 40px;
  margin-bottom: 20px;
}

.confirmation-container {
  padding: 10px 30px;
}

.confirmation-field {
  width: 100%;
}

.confirmation-button {
  width: 100%;
  margin: 20px 0 0 !important;
}

.balance {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.price {
  margin-top: 5px;
  font-size: 14px;
  color: darkgray;
}

.address {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: darkgray;
}

.key {
  margin: 20px;
  font-size: 18px;
  color: #6e6e6e;
  word-break:break-all;
}

.account-details-card,
.send-card {
  margin-top: 20px;
  padding-top: 20px;
}

.transactions-card {
  margin: 20px 0;
  padding: 20px 0;
  padding: 0px;
}

.send-card {
  padding-bottom: 40px;
}

.account-details-address {
  padding-left: 20px;
}

.buttons-container {
  padding: 0 20px;
}

.buttons-container button {
  width: 100%;
  height: 50px;
  margin-top: 0px;
}

.account-details-button-icon,
.receive-button-icon,
.send-button-icon {
  margin-left: 10px;
}

.hide {
  display: none;
}

.send-card .send-to,
.send-card .send-token,
.send-card .send-amount,
#send-token-button,
.sign-in-card .private-key-field,
.sign-in-button {
  width: 80%;
}

#send-token-button {
  margin: 20px 0 40px;
}

.token-power-description {
  font-size: 14px;
  padding: 0 20px;
  text-align: justify;
}

.green {
  color: green;
}

.red {
  color: red
}

.transactions-table .transactions-time-hash,
.transactions-table .transactions-in-out,
.transactions-table .transactions-addresses,
.transactions-table .transactions-amount,
.transactions-table .transactions-token {
  padding: 0 0 0 10px;
  color: darkgray;
}

.sign-in-card {
  width: 440px;
  margin: 20px 20px 0 20px;
}

.transactions-card {
  width: 440px;
  margin: 20px 0px 0 20px;
}

.backup-keystore-card {
  width: 440px;
  margin: 20px;
  padding-bottom: 20px;
}

.tool-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.private-key {
  word-wrap: break-word;
}

.account-details-address {
  margin-bottom: 20px;
}

.view-transactions-on-button {
  margin-top: 10px;
}

.qr-code {
  width: 70%;
  max-width: 320px;
}

.tx-link{
  color:#a9a9a9;
}
